form{
    width: 450px;
    margin: auto;
    background: rgba(5, 95, 51, 0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
}
h4{
    color: rgb(12, 126, 81);
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;

}
input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}
textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;

}
#boton{
    background: #57979c;
    color: black;
    padding: 20px;
}
#boton:hover{
    cursor: pointer;

}
@media (max-width: 480px){
    form{
        width: 100%;

    }
}
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    height: 100%;
    margin: 0%;
    font-family: 'Noto Sans', sans-serif;
    color: #57979c;  
}

.contenedor{
    display: flex;
}
#img_logo{
    width: 150px;
}
.nav_contenedor_enlaces {
    width: 100%;
    display: flex;
    justify-content: end;
}
ul {
    display: flex;
    gap: 50px;
    align-items: center;
    padding: 15px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    font-size: 20px;
    color: #57979c;
    transition: 0.2s ease-in-out;
}
a:hover {
    font-size: 25px;
}
main {
    display: flex;
    flex-direction: column;
    background-image: url(../Fondo\ \(2\).png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
h1 {

    text-align: center;
    color: black;
    font-size: 50px;
    margin: 0%;
    padding-top: 20px;
    margin-bottom: 12px;
}
h2 {
    text-align: center;
    color: black;
    font-size: 40px;
    margin: 0%;
}
.contenedor_imagen {
    display: flex;
    flex-direction: row;
    width: 60%;
    margin: 0 auto;
    gap: 5%;
    margin-top: 5%;
    background-color: rgba(255, 255, 255, 0.7) ;
}
h3{
    text-align: center ;
    color: #b5eef3;
    font-size: 40px;
   
}

.contenedor_nosotros {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 5%;
    margin: auto;
    background: #003a1773;
    border-radius: 2rem;
}

.integrante {
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imagen_integrante {
    border-radius: 50%;
    width: 200px;
}

#p_nosotros{
    text-align: center;
    color: white;
    font-size: 20px;
    margin: 0%;
    margin-bottom: 12px;
}

.contact-right h5{
    margin-bottom: 30px;
    font-weight: 600;
}
h5{
    display: block;
    font-size: 1.75rem;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.contact-right{
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: rgb(8, 97, 45);
    color: white;

}
.contacto_integrantes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: fit-content;
    column-gap: 20%;
}

.contacto_integrantes_nombre {
    white-space: nowrap;
}

.slider{
    width: 95%;
    margin: auto;
    overflow: hidden;
}
.slider ul{
    padding: 0;
    display: flex;
    width: 400%;
    animation: cambio 10s infinite;
}
.slider li{
    list-style: none;
    width: 100%;
}
.slider img{
    width: 100%;
}

.carousel-inner {
    width: 50%;
    height: 50%;
    margin: 5% auto;
}
h6{
    text-align: center ;
    font-size: 30px
}
.contenedor-descripcion{
    text-align: center ;
    font-size: 20px
    
}
#imagen_home{
    max-width: 50%;
    display: block;
}
#texto_home{
    font-size: 35px;
    color: black;
}

.bloque{
    background-color: white;
}

.separator{
    border-bottom: 5px solid black;
    padding-top: 50px;
}
